@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
    --light: #f3efe0;
    --dark: #101012;
    --primary: #cd3e27;
    --primary-transparent: #cd3e2728;
    --primary-dark: #9a2f1d;
}

::selection {
    background: color-mix(in srgb, var(--primary) 40%, transparent 60%);
}

/* TODO: html body styles */
/* TODO: heading styles */
