---
const { icon, label, ...props } = Astro.props;
---

<button class="button" {...props}>
    <img src={icon} />
    {label}
</button>

<style>
    .button {
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: center;
        padding: 16px;
        cursor: pointer;

        background-color: transparent;
        height: 64px;
        width: 100%;
        font: inherit;
        font-size: 24px;
        border-width: 1px;
        border-style: solid;
        border-color: var(--dark);
        border-radius: 32px;
        transition:
            background-color 0.3s,
            color 0.3s;
    }
    .button img {
        transition: filter 0.3s;
    }
    .button:hover {
        background-color: var(--dark);
        color: var(--light);
    }
    .button:active {
        background-color: var(--primary);
        color: var(--light);
    }
    .button:hover img,
    .button:active img {
        filter: invert(1);
    }
</style>
