---
import XIcon from "../assets/icons/x.svg";
import MailIcon from "../assets/icons/mail-light.svg";
import LinkedInIcon from "../assets/icons/linkedin.svg";
import GithubIcon from "../assets/icons/github.svg";
import Button from "./Button.astro";

const { id } = Astro.props;
---

<div id="contact-overlay" class="contact-overlay">
    <div class="flex-layout">
        <div class="header">
            <h2>Let's Connect</h2>
            <button id="close-button">
                <img src={XIcon.src} alt="Close" />
            </button>
        </div>

        <div class="row">
            <div class="message">
                Would you like to collaborate on a project? Do you have a cool
                event you think I might bring value to? Just want to chat about
                my work or the industry? Send me a message or email and I'll try
                to get back to you soon!
            </div>

            <div class="button-group">
                <Button icon={MailIcon.src} label="james@baxster.ca" />
                <Button icon={LinkedInIcon.src} label="@james-baxster" />
                <Button icon={GithubIcon.src} label="@jbax" />
            </div>
        </div>
    </div>
</div>

<style>
    #contact-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--primary-dark);
        color: var(--light);
        overflow: hidden;
        display: none;
    }

    #contact-overlay[data-active] {
        display: block;
    }

    .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .header h2 {
        font-size: 64px;
    }
    .header button {
        background: none;
        border: none;
        cursor: pointer;
    }
    .header button:hover {
        filter: invert(1);
    }

    .flex-layout {
        height: 100%;
        padding: 32px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 32px;
        overflow: scroll;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .message {
        line-height: 2;
    }

    .button-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-evenly;
    }

    .button-group button {
        border-color: var(--light);
        color: var(--light);
    }
    .button-group button :global(img) {
        filter: none !important;
    }

    @media (min-width: 600px) {
        .row {
            flex-direction: row;
            gap: 64px;
            height: 100%;
            box-sizing: border-box;
        }

        .row > div {
            flex: 1;
        }

        .header h2 {
            font-size: 138px;
        }

        .message {
            font-size: 32px;
        }

        .button-group {
            justify-content: center;
            gap: 64px;
        }
        .button-group button {
            max-width: 540px;
        }
    }
</style>

<script>
    const closeButton = document.getElementById("close-button");
    const contactOverlay = document.getElementById("contact-overlay");

    closeButton.addEventListener("click", () => {
        contactOverlay.removeAttribute("data-active");
    });
</script>
